.container {
  padding: 0 16px; /* Espaçamento lateral para telas menores */
  /* background-color: #ccc; */
  width: 100%;
  /* height: 100vh; */
}

.title {
  width: 100%;
  font-size: 36px;
  text-align: center;
}

.button-container {
  min-height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
